<h2>Edit Celebrity</h2>
<form action="/celebrities/{{id}}/edit" method="POST"> 
    <label>Name</label>
    <input type="text" name="title" />
    <label>Occupation</label>
    <input type="text" name="occupation"/>
    {{!-- <select name="author">
        <option value="0">Select author</option>
        {{#each authors}} 
            {{#eq name ../book.author.name}}
                <option value={{id}} selected>{{name}}</option>
            {{else}}
                <option value={{id}}>{{name}}</option>
            {{/eq}}
        {{/each}}
    </select> --}}
    <label>Catchphrase</label>
    <input type="text" name="catchPhrase" />
    <button type="submit">Update</button>
</form>